@import "~bootstrap/dist/css/bootstrap.min.css";

.formInputs {
  display: flex;
  flex-direction: column;
}
html body {
  background-color: rgb(195, 195, 216);
  margin: auto;
  padding: 10%;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#formulario {
  flex-direction: column;
  width: 100%;
  height: 60%;
  padding: 2%;
  background-color: rgb(201, 180, 221);
  border-radius: 8px;
  font-size: 24px;
  margin-left: -10%;
  margin-top: -10%;
}

#error {
  color: crimson;
}

.dshow {
  display: block;
  color: blue;
}

.dnone {
  display: none;
}

.valid {
  border: 3px solid rgb(47, 255, 127);
}

.invalid {
  border: 3px solid rgb(226, 52, 75);
}

.inputs {
  display: block;
}

#submit {
  margin-top: 5%;
}

#icon {
  width: 16px;
  height: 16px;
  border: none;
  margin: 1%;
  display: none;
}
